@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

$font-family: 'Montserrat', sans-se rif;
$cor-de-fundo: #0AA1DD;
$cor-primaria: #E8F9FD;

@mixin flex($espaço) {
    display: flex;
    justify-content: $espaço;
    align-items: center;
}

body {
    background-color: $cor-de-fundo;
    color: $cor-primaria;
}

.secao {
    @include flex(center);
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    font-family: $font-family;

    &__titulo {
        font-size: 5em;
    }

    &__texto {
        font-size: 2em;
        margin-top: 20px;
    }

    &__mensagem {
        font-size: 1.5em;
        margin-top: 15px;

        &--box {
            border: 2px solid $cor-primaria;
            padding: 10px;
            display: inline-block;
            font-size: 4em;
            margin: 15px;
        }
    }

    &__botao {
        background-color: $cor-primaria;
        border: 0px;
        padding: 8px;
        font-size: 20px;
        margin-top: 20px;
    }
}

